//Font
$bold: 700;
$semibold: 600;
$medium-font: 500;
$regular: 400;
$font-primary: 'Barlow';

//Font-size
$small-size: 1.2rem;
$medium-size: 1.4rem;
$regular-size: 1.8rem;
$big-title-size: 4.8rem;
$title-size: 4rem;
$mobile-title: 3.6rem;
$acc-title-size: 3.2rem;
$sub-title-size: 2.8rem;
$scroll-size: 2.4rem;

//Colors
$accent: #50FF0A;
$primary-green: #058C42;
$circle-green: #04341c;
$scarlet: #E01507;
$neutral-grey: #63707429;
$greyo: #50565d;
$greyo-end: #3d454c;
$black: #1E1E1E;
$neutral-white: #F4F6F3;
$neutral-silver: #F4F6F3B8;